html{
    margin: 20px 100px;
    background-color: bisque;
}

.jumbotron{
    background-image: url("../images/jumbobcg.png");
    background-size: cover;
}

.display-4{
    color: floralwhite;
    font-weight: bold;
    text-align: center;
}
.instructions{
    background-color: lightcyan;
    text-align: center;
    font-size: 85%;
    margin-left: 167px;;
    margin-right: 167px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* images - the diamond needs a smaller width */ 

img{
    height: 200px;
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
}

img:active{
    transform: translateY(5px);
}

#crystalThree{
    margin-left: 25px;
    margin-right: auto;
}

/* random number section */

.scores{
    padding: 50px;
    text-align: center;
}

#randomNumber{
    background-color: aqua;
    font-weight: bold;
    font-size: 200%;
    padding: 50px;
}

#randomEquals {
    background-color: lightgray;
}

#yourScore{
    background-color: rgb(174, 208, 243);
    font-size: 200%;
    padding: 50px;
    font-weight: bold;
}

#totalScore {
    background-color: lightgray;
}

.winLosses {
    background-color:rgba(24, 219, 24, 0.397);
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 150%;
}